<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AstraTestWpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <AstraTestWpf.Properties.Settings>
            <setting name="ColorFps" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ColorWidth" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="ColorHeight" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="DepthFps" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DepthWidth" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="DepthHeight" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="BodyTrackingFreeTrialEnd" serializeAs="String">
                <value>2019-06-30</value>
            </setting>
        </AstraTestWpf.Properties.Settings>
    </applicationSettings>
</configuration>